.timelineheading {
    color: #009b90;
    text-align: center;
}

.timeline {
    position: relative;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1300px;
}

.timeline:before {
    content: "";
    position: absolute;
    height: 100%;
    border: 1px solid #009b90;
    right: 40px;
    top: 0;
}

.timeline:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 800px) {
    .timeline {
        padding: 2rem;
    }
    .timeline:before {
        left: calc(50% - 1px);
        right: auto;
    }
}

.searchBox {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.searchInput {
    height: 30px;
    width: 300px;
}

.timeline__item {
    border: 2px solid #009b90;
    border-image: linear-gradient(to right, #009b90 0%, #009b90 100%);
    border-image-slice: 1;
    position: relative;
    margin: 1rem 3rem 1rem 1rem;
    clear: both;
    left: 4rem;
}

.timeline__item:after, .timeline__item:before {
    content: "";
    position: absolute;
}

.timeline__item:before {
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: #0063a6 #0063a6 transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
}

@media screen and (max-width: 700px) {
    .timeline__item {
        width: 44%;
        margin: 1rem;
        left: 0;
    }
}

@media screen and (min-width: 800px) {
    .timeline__item {
        width: 44%;
        margin: 1rem;
        left: 0;
    }
    .timeline__item:nth-of-type(2n) {
        float: right;
        margin: 1rem;
        border-image: linear-gradient(to right, #009b90 0%, #009b90 100%);
        border-image-slice: 1;
    }
    .timeline__item:nth-of-type(2n):before {
        right: auto;
        left: -10px;
        border-color: transparent transparent #0063a6 #0063a6;
    }
}

.timeline__itemyear {
    width: 3em;
    height: 3em;
    line-height: 3em;
    overflow: hidden;
    border-radius: 50%;
    text-transform: uppercase;
    background-color: #009b90;
    color: #fff;
    text-align: center;
    border-image: none;
}

.timeline__itemyear:before {
    display: none;
}

@media screen and (min-width: 800px) {
    .timeline__itemyear {
        text-align: center;
        margin: 0 auto;
    }
    .timeline__itemyear:nth-of-type(2n) {
        float: none;
        margin: 0 auto;
        border-image: none;
    }
    .timeline__itemyear:nth-of-type(2n):before {
        display: none;
    }
}