.timeline__title {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    top: 16.5rem;
}

.timeline__date {
    line-height: 1.5;
    font-size: 1rem;
    margin: 0.5rem 0 0;
    color: #009b90;
    text-align: center;
    padding-top: 15rem;
    width: 100%;
    position: absolute;
}

.timelineimg {
    height: calc(20rem - 4px);
    width: calc(20rem - 4px);
    position: absolute;
}

.imgblur {
    height: calc(20rem - 4px);
    width: calc(20rem - 4px);
    position: absolute;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(0, 99, 166, 0) 30%, rgba(0, 0, 0, 1) 100%);
}

.imgblur:hover {
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.timelinelink:hover>.imgblur {
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.timelinebox {
    height: 20rem;
    width: 20rem;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 99, 166, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border-color: #0063a6;
    border-image: linear-gradient(to right, #0063a6 0%, #0063a6 100%);
    border-image-slice: 1;
    border: 2px solid #009b90;
    position: relative;
    margin: 1rem 3rem 1rem 1rem;
    clear: both;
}

.timelinebox:after, .timelinebox:before {
    content: "";
    position: absolute;
}

.timelinebox:before {
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: #0063a6 #0063a6 transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
}

@media screen and (min-width: 850px) {
    .timelinebox:nth-of-type(2n) {
        float: right;
        border-image: linear-gradient(to right, #009b90 0%, #009b90 100%);
        border-image-slice: 1;
    }
    .timelinebox:nth-of-type(2n):before {
        right: auto;
        left: -10px;
        border-color: transparent transparent #0063a6 #0063a6;
    }
}

@media screen and (max-width: 500px) {
    .timelinebox {
        width: 44%;
        margin: 1rem;
        left: 0;
    }
    .timelinebox {
        height: 14rem;
        width: 14rem;
    }
    .timelineimg {
        height: calc(14rem - 4px);
        width: calc(14rem - 4px);
    }
    .imgblur {
        height: calc(14rem - 4px);
        width: calc(14rem - 4px);
    }
    .timeline__date {
        padding-top: 9rem;
    }
    .timeline__title {
        font-size: 1em;
        top: 11.5rem;
    }
}